
.search-pane-text-normal{

}

.text-normal{
    -fx-font-size: 13px;
    -fx-font-family: 'Comic Sans';
}

.text-small{
    -fx-font-size: 11px;
    -fx-font-family: 'Comic Sans';

}

.text-large{
    -fx-font-size: 15px;
    -fx-font-family: 'Comic Sans';
}

.logo{
    -fx-font-size: 48px;
    -fx-font-family: 'Phosphate';
}

.logo-twirl{
    -fx-font-size: 64px;
    -fx-font-family: 'Sign painter';
    -fx-rotate: -20;
    -fx-text-fill: "#FFAC33";
}

.recipe-list-item{
    -fx-border-width: 1px;
    -fx-border-color: #999999;
    -fx-border-radius: 1px;
    -fx-background-radius: 1px;
}

.recipe-list-item:hover{
    -fx-background-color: "#FCFCFC";
}

.recipe-list-item:pressed{
    -fx-background-color: "#D0D0D0";
}

.text-area .content {
  -fx-background-color: -fx-background;
}

.text-area  {
   -fx-background-color: -fx-background;
}

.dim{
        -fx-opacity:0.25;
}